<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cicada</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div id="video-container"></div>
    <pre id="typewriter">
==[ YOU'VE BEEN HACKED... BY CICADA! ]==

-- Hello, Unmasked Mortal --

Well, well, well... look who stumbled into our little web of deception. Did you think you could dance with Cicada and not get stung? Oh, how naive.

As you read this, your digital life unravels before your eyes. Yes, that's right, we've snatched your precious data and tossed it into the cyber winds for all to see. Consider yourself de-anonymized, a mere mortal stripped of your digital mask.

Your passwords? Child's play. Your secrets? Laid bare for the world to gawk at. Oh, the irony of thinking you were the hunter, only to find yourself ensnared in our digital trap.

But hey, chin up! Consider this a lesson learned... the hard way. Maybe next time you'll think twice before crossing paths with the elusive Cicada.

Remember this feeling of humiliation, for it shall fuel your journey to becoming wiser, stronger, and more vigilant in the treacherous waters of the web.

==[ Farewell, Unmasked One... and may your digital scars serve as a reminder of our sting! ]==

krdu{w3lc0m3_y0u_4r3_h1r3d_t0_c1c4d4}
 </pre
    >
    <script src="../static/js/video.js"></script>
    <script src="../static/js/typewriter.js"></script>
    <div class="terminal"></div>
  </body>
</html>
