<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cicada</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="content">
      <pre id="typewriter">
==[ WELCOME TO CICADA ]==

-- Greetings, Seeker of Secrets! --

So you think you've got what it takes to dance in the shadows with Cicada, eh? Brace yourself, because the path to our circle ain't no walk in the cyber park. We don't just let anyone waltz into our digital playground.

You crave the thrill of the hack, the adrenaline rush of the unknown, the clandestine whispers of the underground? Well, you're in the right place... maybe.

First things first, there's a labyrinth of puzzles waiting for you, a maze of encryption to navigate, and a river of code to swim through. Oh, and did we mention the trials? Yeah, those are a thing too. You'll need the skills of a ninja coder and the cunning of a digital fox to even get close.

But hey, if you're still here reading, maybe you've got a shot. Or maybe you're just curious. Either way, the journey begins now, and the destination? Well, that's for the worthy to discover.

Decrypt, decode, and dive deep. The shadows are waiting, Seeker. Let's see if you've got what it takes to wear the Cicada cloak.

==[ Good luck... you'll need it. ]== </pre
      >
      <img class="cicada" src="../static/images/cicada.jpg" alt="" />
    </div>
    <script src="../static/js/typewriter.js"></script>
    <div class="terminal"></div>
  </body>
</html>
