<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cicada</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="center">
      <!--Let's all love Lain-->
      <div class="lain">Let's all love Lain</div>
      <button id="voice-btn">Connect</button>
      <script src="../static/js/voice.js"></script>
      <div>
        <img
          src="../static/images/lain.jpg"
          alt="Let's all love Lain"
          class="lain-img"
        />
      </div>
    </div>
    <div class="lain-back">
      Let's all love Lain Let's all love Lain Let's all love Lain Let's all love
      Lain Let's all love Lain Let's all love Lain Let's all love Lain Let's all
      love Lain Let's all love Lain Let's all love Lain Let's all love Lain
      Let's all love Lain Let's all love Lain Let's all love Lain Let's all love
      Lain Let's all love Lain Let's all love Lain Let's all love Lain Let's all
      love Lain Let's all love Lain Let's all love Lain Let's all love Lain
      Let's all love Lain Let's all love Lain Let's all love Lain Let's all love
      Lain Let's all love Lain Let's all love Lain Let's all love Lain Let's all
      love Lain Let's all love Lain Let's all love Lain Let's all love Lain
      Let's all love Lain Let's all love Lain Let's all love Lain Let's all love
      Lain Let's all love Lain Let's all love Lain Let's all love Lain Let's all
      love Lain Let's all love Lain Let's all love Lain Let's all love Lain
      Let's all love Lain Let's all love Lain Let's all love Lain Let's all love
      Lain Let's all love Lain Let's all love Lain Let's all love Lain Let's all
      love Lain Let's all love Lain Let's all love Lain Let's all love Lain
      Let's all love Lain Let's all love Lain Let's all love Lain Let's all love
      Lain Let's all love Lain Let's all love Lain Let's all love Lain Let's all
      love Lain Let's all love Lain Let's all love Lain Let's all love Lain
      Let's all love Lain Let's all love Lain Let's all love Lain Let's all love
      Lain Let's all love Lain Let's all love Lain Let's all love Lain Let's all
      love Lain Let's all love Lain Let's all love Lain Let's all love Lain
      Let's all love Lain
    </div>
    <!--Мне захотелось отдать дань этому аниме-->
    <div class="terminal"></div>
  </body>
</html>
